
* {
    box-sizing: border-box;
    justify-content: center;
    background-color: lightgray;
    width: 80%;
    height: 50vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
